img {
    max-width: 100%;
    height: auto;
}

.page {
    display: grid;
}

.header {
    display: flex;

    &__top {
        align-items: center;
    }

    @media (min-width: 768px) {
        padding: 10px;
    }

    @media (max-width: 1024px) {
        padding: 20px;
    }
}

.main {
    margin: 0;
}


body {
}
